.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    padding: 50px 0;
  }
  
  .title {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .colSm4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
  }
  
  .galleryImage {
    display: block;
  }
  
  .imgResponsive {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }